:root {
  font-family: 'Lato', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --dark-blue--primary: rgb(25, 33, 38);
  --dark-blue--secondary: rgb(25, 33, 38, 0.97);
  --white--primary: #ffffff;
  --light-green--primary: #bbf246;
  --light-green--secondary: #b1e442;
  --lighter-green-primary: #ddf8a2;
  --dark-grey--primary: rgb(98, 98, 98);
  --dark-grey--secondary: rgb(206, 212, 218);
  --light-grey--secondary: rgb(206, 212, 218, 0.97);
  --grey--primary: #dddddd;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--grey--primary);
  font-family: 'Lato', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  -webkit-font-smoothing: antialiased;
}

.bg-dark_blue--primary {
  background-color: var(--dark-blue--primary);
}

.bg-dark_blue--secondary {
  background-color: var(--dark-blue--secondary);
}

.bg-light_green--primary {
  background-color: var(--light-green--primary);
}

.bg-white--primary {
  background-color: var(--white--primary);
}

.text-white--primary {
  color: var(--white--primary);
}

.text-dark_blue--primary {
  color: var(--dark-blue--primary);
}

.text-dark_grey--primary {
  color: var(--dark-grey--primary);
}

.text-grey--primary {
  color: var(--grey--primary);
}

.button--primary {
  border-color: var(--light-green--primary);
  background-color: var(--light-green--primary);
  color: var(--dark-blue--primary);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.button--primary:hover {
  border-color: var(--light-green--secondary);
  background-color: var(--light-green--secondary);
  color: inherit;
}

.button--primary:active {
  border-color: var(--light-green--secondary) !important;
  background-color: var(--light-green--secondary) !important;
  color: inherit !important;
  filter: brightness(95%);
}

.button--secondary {
  border-color: var(--dark-grey--secondary);
  background-color: var(--dark-grey--secondary);
  color: var(--dark-blue--secondary);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.button--secondary:hover {
  border-color: var(--light-grey--secondary);
  background-color: var(--light-grey--secondary);
  color: inherit;
}

.button--secondary:active {
  border-color: var(--light-grey--secondary) !important;
  background-color: var(--light-grey--secondary) !important;
  color: inherit !important;
  filter: brightness(95%);
}

.button--rounded {
  border-radius: 24px;
}


input[type='checkbox'] {
  border-color: var(--dark-grey--secondary);
  width: 18px;
  height: 18px;
}

input[type='checkbox']:hover {
  border-color: var(--dark-grey--secondary);
}

input[type='checkbox']:focus {
  border-color: var(--dark-grey--secondary);
}

input[type='checkbox']:checked {
  border-color: var(--light-green--primary);
  background-color: var(--light-green--primary);
  background-image: url(/black_tick.png) !important;
}

input[type='checkbox']:checked:hover {
  background-color: var(--light-green--secondary);
}

input[type='checkbox']:checked:focus {
  border-color: var(--dark-grey--secondary);
}

.navbar-fiufit {
  max-width: 1333px;
  margin: 0 auto;
}

.layout-navbar {
  position: sticky;
  top: 119px;
}

@media (max-width: 1199.98px) {
  .layout-navbar {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.layout-navbar-lateral {
  margin: 20px 32px;
}

.img-welcome {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* HOME */

/* NAVBAR */

.management-section .management-section-title {
  text-align: left;
  font-size: 3rem;
}

.nav {
  font-size: 1.15rem;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 9px 10px 12px -12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 9px 10px 12px -12px rgba(0, 0, 0, 0.4);
  box-shadow: 9px 10px 12px -12px rgba(0, 0, 0, 0.4);
}

.nav #management-navbar-first-link {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.nav #management-navbar-last-link {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav .active {
  font-weight: bold;
  background-color: #D8FF85;
}

.nav a {
  color: #626262 !important;
}

.management-navbar-icon {
  font-size: 1.4rem;
  margin-right: 8px;
}

.fiufit-brand {
  width: 45px;
  height: 45px;
  border-radius: 45px;
}

/* LOGIN */

#show-password-eye:hover {
  cursor: pointer;
}

#login-title {
  margin-bottom: 25px;
  font-size: 2.6rem !important;
}

#login-img-welcome {
  max-width: 100%;
  min-width: 200px;
  max-width: 450px;
  margin: 25px;
}

#footer-brand {
  margin: 0 auto;
  display: table;
  margin-top: 12px;
  margin-bottom: 5px;
}

.footer-align-center {
  margin: 0 auto;
  display: table;
}

/* SECTION */

.section-home {
  margin: 0 auto;
}

/* ADMIN CREATION */

.management-section {
  margin-top: 10px;
  margin-right: 32px;

}

@media (max-width: 767.98px) {
  .management-section {
    margin: 0px auto;
    width: 450px;
  }
}

hr {
  border-color: var(--dark-blue--primary);
  border-top: 2px solid;
  margin-top: 2px;
}

.management-section hr {
  width: 100%;
  max-width: none;
}

.management-section #btn-form-creation {
  margin: 25px auto;
  margin-bottom: 35px;
  max-width: 150px;
}

.management-section h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.management-section .input-group {
  max-width: 600px;
  margin-top: 15px;
}

.management-section .input-group #admin-password-eye:hover {
  cursor: pointer;
}

.management-section .input-group #admin-search-bar-icon:hover {
  cursor: pointer;
}

.management-section .fiufit-form-input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.07rem;
}

.management-section #create-admin-form {
  max-width: 600px;
}

/* ADMIN EDITION */

.management-section #management-section-admin-creation {
  max-width: 100%;
}

.management-section #management-section-admin-edition {
  max-width: 100%;
}

.management-section #edit-admin-form-search {
  max-width: 300px;
  margin: 0 auto;
}

.management-section #admin-edition-pagination {
  margin-bottom: 50px;
  margin-top: 30px;
}

.management-section #admin-edition-pagination .pagination {
  display: "flex";
  justify-content: center;
  color: #626262;
}

.management-section #admin-edition-pagination .pagination .page-link {
  color: #626262;
}

.management-section #admin-edition-pagination .active>.page-link,
.page-link.active {
  background-color: #D8FF85;
  border-color: #D8FF85;
  color: #626262;
}

.management-section .admins-table-body-list-delete {
  text-align: right;
  margin-left: 30px;
}

.management-section .admins-table-link-delete {
  color: #626262;
}

.management-section .admins-table-link-delete:hover {
  color: #626262;
  opacity: 0.9;
}

.management-section .admins-table {
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 9px 10px 12px -12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 9px 10px 12px -12px rgba(0, 0, 0, 0.4);
  box-shadow: 9px 10px 12px -12px rgba(0, 0, 0, 0.4);
}

/* METRICS */

.management-section #management-section-metrics {
  max-width: 600px;
}

/* USERS PANEL */

.management-section #edit-users-form-search {
  max-width: 300px;
  margin: 0 auto;
}

.management-section #edit-users-form-search:hover {
  cursor: pointer;
}

.management-section .accordion .accordion-button {
  font-size: 1.05rem;
}

.management-section .accordion .accordion-button:not(.collapsed) {
  background-color: #D8FF85;
  color: #626262;
}

.management-section .accordion .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.management-section .accordion .accordion-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.management-section .accordion .accordion-body {
  font-style: italic;
  font-size: 1.1rem;
}

.management-section .accordion .accordion-header button {
  font-weight: bold;
}

.form-input-login {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;
}

/* ALERTS */

.alert-success {
  background-color: var(--lighter-green-primary);
  border-color: var(--light-green--primary); 
  color: var(--dark-grey--primary);
}